* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {    
    background-color: rgb(116, 179, 130);
    display: flex;
    align-items: center;
    justify-content: center;
}



.page-landing img {
    width: 600px;
    height: 300px;    
}

.page-landing .buttons-container {
    display: grid;
}

.buttons {
    display: flex;
}


.buttons-container a {
    width: 18rem;
    height: 7.4rem;
    border-radius: 0.8rem;

    font: 700 2.4rem Archivo;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px;

    color: #000;

    transition: background 0.4s;
}

.buttons-container a img {    
    width: 2rem;
    height: 2.2rem;
    margin-right: 1.4rem;
}

.buttons-container a.master img {
    width: 3.4rem;
    height: 4.4rem;
}
                
.buttons-container a.users {   
    background-color: rgb(97, 221, 133);
}

.buttons-container a.users:hover { 
    background-color: rgb(75, 201, 108);
}  
        
.buttons-container a.master {   
    background-color: rgb(142, 196, 214);
}
.buttons-container a.master:hover {   
    background-color: rgb(122, 181, 201);
}

@media(min-width:1000px) {
    #container {
        max-width: 1000px;        
    }
    .page-landing {
        margin: 30px;
    }


    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }

    .buttons {
        display: flex;
    }

    .page-landing .buttons-container {
        display: flex;
        justify-content: center; 
        align-items: center;    
    }
}