aside a.logo img {
    width: 500px;
    height: 300px;
    margin: 0;
}

aside.logo {
    margin:0;
    padding: 0;
}

.logo h2 {
    height: 8rem;
    width: 40rem;
    font-weight: 500;
    line-height: 4.6rem;
    text-align: start;
    margin-top: -100px;
    margin-bottom: 100px;
}

