.topbar{
    width: 90%;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: space-between;   
    padding: 1.6rem 0;
}

.topbar a{    
    transition: opacity 0.2s;
}

.topbar a:hover {
    opacity: 0.6;
}

.students-content {
    margin: 0 0 8rem 8rem;
}

.students-content strong {    
    font: 700 3rem Archivo;
    line-height: 2rem;
}

.students-content p {
    max-width: 20rem;
    font-size: 0.9rem;
    line-height: 1.6rem;
    margin: 2rem 0;
}
        
.topbar img {
    height: 2.8rem;
       
}

@media(min-width: 700px) {
    
    .topbar-container> .students-content {
        max-width: 74rem;
        margin-left: 15rem;
    }   

    .topbar {
        max-width: 1100px;
    }    

    .students-content {
        max-width: 740px;
        
    }
}